.login-main-container {
  margin: 8% 0;
  display: flex;
  align-items: center;
}

.register-main-container {
  margin: 8% 0;
  display: flex;
  align-items: center;
}

.forgot-password-main-wrapper {
  margin: 8% 0;
  display: flex;
  align-items: center;
}

.reset-password-container-main {
  margin: 8% 0;
  display: flex;
  align-items: center;
}

.update-profile-custom-wrapper {
  margin: 8% 0;
  display: flex;
  align-items: center;
}

.update-password-custom-wrapper {
  margin: 8% 0;
  display: flex;
  align-items: center;
}

.custom-shipping-info-wrapper {
  margin: 3.5% 0;
  display: flex;
  align-items: center;
}

.confirm-order-custom-wrapper {
  margin: 3.5% 0;
  display: flex;
  align-items: center;
}

.payment-comp-custom-wrapper {
  margin: 3.5% 0;
  display: flex;
  align-items: center;
}

.success-order-custom-wrapper {
  margin: 8% 0 !important;
  display: flex;
  align-items: center;
}

/* Products images css */
.image-container {
  max-width: 400px;
  display: flex;
}

.image-container .img-area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.image-container .img-area .item-img {
  height: 80px;
  width: 125px;
  cursor: pointer;
  position: relative;
}

.image-container .img-area .item-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.image-container .img-area .item-img .cross-btn {
  color: red;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #111;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0.3;
  transition: 0.1s;
}
.image-container .img-area .item-img:hover .cross-btn {
  opacity: 1;
  transition: 0.1s;
}

/* Sidebar menu active color */
.list-unstyled.components li {
  margin: 3px 0;
}
.list-unstyled ul li {
  margin: 3px 0 !important;
}

.menu-active {
  background-color: #fff;
  color: #000 !important;
}

.sub-menu-active {
  background-color: #2f4e75;
  color: #fff !important;
  border-radius: 5px;
}

.sub-menu-active:hover {
  color: #000 !important;
  border-radius: 5px;
}
